.error {
    border: black 0px solid;
    border-radius: 10px;
    background-color: #ff8080;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: black;
}

body {
    text-align: center;
    background: #404040;
    color: white;
}

input[type=submit]{
    padding: 6px;
    color:white;
    background: #404040;
    border: none;
    font-weight: bolder;
}

input[type=submit]:hover {
    background: #606060;
}

input[type=submit]:active {
    background: #909090;
}

input[type=text] {
    background: #404040;
    border: none;
    height: 1.6em;
    width: 50%;
    margin-bottom: 5px;
    color:white;
}

input[type=password] {
    background: #404040;
    border: none;
    height: 1.6em;
    width: 50%;
    margin-bottom: 5px;
    color:white;
}

textarea {
    width: 100%;
    height: 100px;
    background: #606060;
    border: none;
    resize: none;
    color: white;
    margin-bottom: 5px;
    margin-top: 4px;
}


form {
    border: white solid 2px;
    border-radius: 10px;
    width: 400px;
    padding: 15px;
    margin: 30px auto;
    background: #303030
}

.header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100vw;
    border-bottom: #101010 0px solid;
    overflow:hidden;
    background: #303030;
    left: 0;
}

.header div {
    height: 100%;
    float: left;
    padding: 5px;
    border-right: #181818 1px solid;
    vertical-align: center;
    background: #383838
}

.header .current {
    background-color: #202020;
}

a {
    color: white;
}

.header div:has(a:hover){
    background: #404040;
}

.header div:has(a:active){
    background: #808080;
}

.content {
    margin-top: 100px;
    align-content: center;
}

.content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100vw;
}

.content td {
    padding: 50px 5px;

}

tr {
    width: 100vw;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}