.thread {
    border: black solid 0px;
    background: #303030;
    border-radius:45px;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    margin-top: -40px;
    overflow: hidden;
}

.threadpost {
    border-bottom: 2px solid white;
    padding-bottom: 35px;
}

.threadpost .editbar {
    height: 25px;
    background: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float:right;
}

.threadpost .author {
    float: left;
    margin-left: 50px;
    font-size: 0.8em;
}

.threadpost .editbar div {
    height: 100%;
    width: 100px;
    background: none;
    float: right;
}

.comments {
    background: #383838;
    overflow: hidden;
}

.comments > div {
    background: #303030;
    width: 50%;
    margin: 15px auto;
    border-radius: 15px;
}


.commentor {
    font-size: 0.8em;
    margin-top: -9px;
}